@model IEnumerable<IndividualCapStoneSAWebApplication.Models.Survivor>
@{
    ViewBag.Title = "Index";
}
    <link href="~/Images/bootstrap-cyborg.css" rel="stylesheet" />
<h2>Survivor</h2>

<p>
    @Html.ActionLink("Report Your Assault", "Create", "AssaultRecord")
</p>
<p>
    @Html.ActionLink("Click Here to Send Text Message to Your Emergency Contact Number", "SendSms", "TextMessage")
</p>
<p>
    @Html.ActionLink("Click Here to find information to help process your experience", "InfoSites") | @Html.ActionLink("Click Here for Resources", "PlacesToHelp")
</p>
<p>
    @Html.ActionLink("Create New Journal Entry", "Create", "PrivateJournal") | @Html.ActionLink("View My Journals", "Index", "PrivateJournal")
</p>
<p>
    @Html.ActionLink("Click Here to Create New Message Board Post", "Create", "MessageBoard") | @Html.ActionLink("Click Here to View Message Board Posts", "Index", "MessageBoard")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmergencyContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SurvivorId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SurvivorId })               
            </td>
        </tr>
    }
</table>
<h4>If you are at a place where you believe that you are able to help another survivor through the difficulty of a sexual assault, click edit and click on Request to be sponsor. An Admin will review this request and approve or deny sponsorship.</h4>