@model IEnumerable<IndividualCapStoneSAWebApplication.Models.Survivor>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Click Here for Resources", "PlacesToHelp")
</p>
<p>
    @Html.ActionLink("Create New Journal Entry", "Create", "PrivateJournal")
</p>
<p>
    @Html.ActionLink("View My Journals", "Index", "PrivateJournal")
</p>
<p>
    @Html.ActionLink("Report Your Assault", "Create", "AssaultRecord")
</p>
<p>
    @Html.ActionLink("Click Here to Send Text Message", "SendSms", "TextMessage")
</p>
<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmergencyContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmergencyContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SurvivorId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SurvivorId }) |

                @*@Html.ActionLink("Delete", "Delete", new { id = item.SurvivorId })*@
            </td>
        </tr>
    }

</table>