@model IEnumerable<IndividualCapStoneSAWebApplication.Models.MessageBoard>

@{
    ViewBag.Title = "Index";
}
    <link href="~/Images/bootstrap-cyborg.css" rel="stylesheet" />
<h2>Message Board</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MessageBoardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageBoardEntry)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model){
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MessageBoardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageBoardEntry)
        </td>
        
    </tr>
}

</table>
