@model IEnumerable<IndividualCapStoneSAWebApplication.Models.MessageBoard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MessageBoardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageBoardEntry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurvivorId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model){
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MessageBoardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MessageBoardEntry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurvivorId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MessageBoardId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MessageBoardId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MessageBoardId })
        </td>
    </tr>
}

</table>
